<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="header row pt-2 pb-1 text-center justify-content-center c-2-bg">
        <h1 class="header-title mb-0">MEDIA</h1>
    </div>

    <div class="row my-4"></div>

    <div class="row mt-3">
        <div class="col-md-6">
            <img src="https://picsum.photos/800/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="media-description mt-5">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum mollitia accusamus nam? In minima,
                eum
                iure omnis voluptates ducimus.
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="https://picsum.photos/800/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="media-description mt-5">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum mollitia accusamus nam? In minima,
                eum
                iure omnis voluptates ducimus.
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="https://picsum.photos/800/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="media-description mt-5">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum mollitia accusamus nam? In minima,
                eum
                iure omnis voluptates ducimus.
            </div>
        </div>
    </div>


    <!-- <div class="row mt-5">
        <div class="col-md-4 p-4">
            <div class="v-card">
                <div class="v-card-header">
                    <img src="https://picsum.photos/300/300" alt="" class="img-fluid rounded-circle mx-auto ">
                </div>
                <div class="v-card-body">
                    <h2>WorcShop de prueba</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aamet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>     
    </div> -->
</div>