<div class="container-fluid px-0">
    <div class="section header text-right w-50 no-gutters py-2 mb-2">
        <h1 class="section-brand pr-4"> VIDA/MUERTE/VIDA </h1>
    </div>
    <app-navbar></app-navbar>
    <div class="row mt-5 no-gutters">
        <div class="container">
            <div class="row justify-content-around pt-5">
                <div class="col-md-5">
                    <p>
                        “Desde el inicio de la historia de nuestra cultura occidental, la muerte y la
                        vida han sido antagonistas. Sin embargo, el ciclo infinito de
                        Vida/Muerte/Vida nos ha acompañado, desde los hechos más bellos y
                        trágicos, seguramente inolvidables, hasta en aquellos más
                        insignificantes… Abrazar la muerte y la vida, considero personalmente,
                        que nos hace reencontrarnos a nosotros mismos en el proceso a nuestra
                        evolución. Algo muere para dar vida y espacio a algo o alguien más… En
                        cada una de las fotografías expuestas se ha intentado reflejar y comunicar
                        el proceso de dolor y, finalmente, aceptación de los duelos de las muertes,
                        tanto propias como las ajenas, y el júbilo por la vida floreciente… Con una
                        impronta surrealista, oscura, trágica y bella a la vez invito a todas las
                        personas a que se vean reflejados, enfrenten sus temores y abracen la
                        muerte, para así poder abrazar la vida. Ya que ninguna existiría sin la
                        otra.
                    </p>
                </div>
                <div class="col-md-7">
                    <p>
                        Aca va otra galeria deforme
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>