<div class="container-fluid contact-container">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="header row pt-2 pb-1 text-center justify-content-center c-2-bg">
        <h1 class="header-title mb-0">CONTACTO</h1>
    </div>

    <!-- <div class="row mt-5"> -->
    <form>
        <div class="row mt-5">
            <div class="col-md-3 offset-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail2">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail3">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail3">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail4">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Email address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </form>
    <!-- </div> -->
</div>