<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="header row pt-2 pb-1 text-center justify-content-center c-2-bg">
        <h1 class="header-title mb-0">PROYECTOS FOTOGRAFICOS</h1>
    </div>

    <div class="row my-4"></div>
    <div class="breadcrumb p-0 pt-2 m-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
            <li class="breadcrumb-item"><a href="#">Proyectos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vida/Muerte/Vida</li>
        </ol>
    </div>

    <div class="row mt-3 px-5">
        <div class="col-md-6 pt-3">
            <h2 class="pb-3">Vida/Muerte/Vida</h2>
            <p>“Desde el inicio de la historia de nuestra cultura occidental, la muerte y la
                vida han sido antagonistas. Sin embargo, el ciclo infinito de
                Vida/Muerte/Vida nos ha acompañado, desde los hechos más bellos y
                trágicos, seguramente inolvidables, hasta en aquellos más
                insignificantes... Abrazar la muerte y la vida, considero personalmente,
                que nos hace reencontrarnos a nosotros mismos en el proceso a nuestra
                evolución. Algo muere para dar vida y espacio a algo o alguien más... En
                cada una de las fotografías expuestas se ha intentado reflejar y comunicar
                el proceso de dolor y, finalmente, aceptación de los duelos de las muertes,
                tanto propias como las ajenas, y el júbilo por la vida floreciente... Con una
                impronta surrealista, oscura, trágica y bella a la vez invito a todas las
                personas a que se vean reflejados, enfrenten sus temores y abracen la
                muerte, para así poder abrazar la vida. Ya que ninguna existiría sin la
                otra.</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-card p-1">
                        <img src="https://picsum.photos/400/400" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-card p-1">
                        <img src="https://picsum.photos/400/400" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-card p-1">
                        <img src="https://picsum.photos/400/400" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-card p-1">
                        <img src="https://picsum.photos/400/400" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>