.header {
    font-family: League;
}
.header-title {
    font-size: 4rem !important;
}

.media-description {
    font-family: Alegreya;
    color: #b2a874;
    font-size: 1.4rem;
}

h2 {
    color: #d9d9d9;
}

p {
    color: #d9d9d9;
}

.breadcrumb {
    color: #d9d9d9;
    background-color: transparent;
}
