<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-5">
            <img src="assets/Images/about.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 offset-md-1 d-flex align-items-center">
            <div class="">
                <div class="row w-100 ">
                    <div class="col c-2-bg pl-3">
                        <h1 class="title mt-2">ABOUT ME</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <P class="content text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Inventore
                            modi vero molestiae illum
                            minus,
                            similique ipsam labore error nam, fuga a perspiciatis odit, quisquam consectetur
                            necessitatibus.
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>