// Header
.custom-brand {
    font-family: Bebas;
}
.social-icons {
    height: 1.8em;
    margin-left: 1em;
}

// Nav
.nav-link {
    color: #B2A894 !important; 
}
.nav-link:hover {
    color: #FFDE59 !important;
}
.navbar-nav {
    // font-weight: bold;
    font-family: League;
    font-size: 1.4em;
}
