<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row justify-content-between mt-4">
        <div class="col-md-5 c-3">
            <h1 class="custom-brand"> VIOLETA PÉREZ ANZORENA </h1>
        </div>
        <div class="col-md-2">
            <a href="">
                <img class="social-icons" src="assets/Socials/redbubble.png" alt="">
            </a><a href="">
                <img class="social-icons" src="assets/Socials/facebook.png" alt="">
            </a><a href="">
                <img class="social-icons" src="assets/Socials/instagram.png" alt="">
            </a><a href="">
                <img class="social-icons" src="assets/Socials/youtube.png" alt="">
            </a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
        <div class="col-md-2 mt-4">
            <img src="https://picsum.photos/300/300" alt="" class="img-fluid">
        </div>
    </div>
</div>