<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row justify-content-between mt-4">
        <div class="col-md-5 c-3">
            <h1 class="custom-brand"> PROYECTOS </h1>
        </div>
    </div>

    <div class="row mt-5">

        <div class="container">
            <div class="row justify-content-around pt-5">
                <div class="col-md-3 text-center">
                    <a [routerLink]="['/proyecto']">
                        <div class="portfolio-card p-2">
                            <img src="https://picsum.photos/400/400" class="img-fluid">
                        </div>
                        <h2>proyectoX</h2>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a [routerLink]="['/proyecto']">
                        <div class="portfolio-card p-2">
                            <img src="https://picsum.photos/400/400" class="img-fluid">
                        </div>
                        <h2>proyectoX</h2>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a [routerLink]="['/proyecto']">
                        <div class="portfolio-card p-2">
                            <img src="https://picsum.photos/400/400" class="img-fluid">
                        </div>
                        <h2>proyectoX</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>