.header {
    font-family: League;
}
.header-title {
    font-size: 4rem !important;
}
.portfolio-card {
    background-color: white;
}
h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    color: #D9D9D9;
    font-family: Alegreya;
}