/* You can add global styles to this file, and also import other style files */

// Definicion colores segun manual de marca
:root {
  --primary-1: #1f1f1f;
  --primary-2: #955fff;
  --primary-3: #e6caff;

  --secondary-1: #ffde59;
  --secondary-2: #b2a874;

  --background-1: #e8e8e8;

  --error: #ff0000;
  --valid: #429800;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importacion de fuentes */
@font-face {
  font-family: Bebas;
  src: url(assets/Fonts/bebas_neue/BebasNeue-Regular.otf) format("opentype");
}

@font-face {
  font-family: League;
  src: url(assets/Fonts/League-Gothic/LeagueGothic-Regular.otf) format("opentype");
}

@font-face {
  font-family: Alegreya;
  src: url(assets/Fonts/Alegreya/Alegreya-Bold.ttf) format("truetype");
}

// Clases generales
body {
  background-color: var(--background-1);
}
